<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta name="description" content="" />
	<link href="{$URL}commom/img/icon-tab.png" rel="icon">
    {include file="../inc/cssUrlAmigavel.html"}
	<link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
	<title>Amplo Vidros</title>
 	<!-- Bootstrap -->
    <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- vitrine -->
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.transitions.css">
    <!-- vitrine -->
  </head>
  <body>
    <div class="container-fluid pd-none">
        {include file="../inc/header.html"}
        {include file="../inc/breadcrumb.html"}
            <section class="conteudo">
                <article class="bloco-conteudo-interna">
                    <div class="col-xs-12 col-sm-7 col-md-7 mg-bt-20">
                        <h1 class="titulo-interna">QUEM SOMOS</h1>
                        
                        <p class="txt-interna">
                            A Amplo Vidros e Espelhos é uma empresa baseada em princípios de responsabilidade e comprometimento, trabalhamos com o foco no atendimento extremamente personalizado, levando em consideração a necessidade real do nosso cliente nos mais variados projetos.
                        </p>

                        <p class="txt-interna">
                            Nossos produtos são desenvolvidos em conjunto com nossos clientes, fornecedores e parceiros, criando algo único e de qualidade ampliada, surgimos como alternativa diferenciada para clientes que buscam o que há de melhor no mercado, com funcionalidade e segurança. 
                        </p>

                        <h2 class="sub-titulo-interna">Missão</h2>
                        <p class="txt-interna">
                            Proporcionar ao nosso cliente atendimento e produtos personalizados, transmitir segurança e comprometimento no desenvolvimento dos projetos superando as expectativas dos nossos clientes. 
                        </p>

                        <h2 class="sub-titulo-interna">Visão</h2>
                        <p class="txt-interna">
                            Tornar-se referencia no setor de decoração com vidros, criando uma nova forma de atender aos clientes, estabelecendo um novo padrão de qualidade com produtos inovadores e soluções que superem as expectativas para os projetos.
                        </p>

                        <h2 class="sub-titulo-interna">Valores</h2>
                        <ul>
                            <li class="txt-interna">» Responsabilidade com prazos e acordos estabelecidos com clientes e parceiros.</li>
                            <li class="txt-interna">» Comprometimento com a ética nas negociações.</li>
                            <li class="txt-interna">» Transparência nas negociações e tratativas com os clientes.</li>
                            <li class="txt-interna">» Criar, inovar e reinventar produtos e soluções sempre. </li>
                            <li class="txt-interna">» Oferecer sempre o que há de melhor e mais funcional. </li>
                            <li class="txt-interna">» Ser verdadeiro e honesto com o cliente. </li>
                        </ul>
                        <!-- <p class="txt-interna"></p> -->
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <br><br>
                        <img src="{$URL}commom/img/quem-somos.jpg" title="AmploVidros" alt="AmploVidros">
                    </div>
                </article>
            </section>
        {include file="../inc/footer.html"}
    </div>
</body>
</html>