/* Folha de estilo */

/* Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

@font-face{
    font-family: 'gotham-book';
    src: url('../fonts/gotham-rounded-book.otf');
}

@font-face{
    font-family: 'gotham-medium';
    src: url('../fonts/gotham-rounded-medium.otf');
}

@font-face{
    font-family: 'gotham-italic';
    src: url('../fonts/gotham-rounded-medium-italic.otf');
}

a:hover{
    text-decoration: none !important;
}

img{
    max-width: 100%;
}

.row{
    margin: 0px !important;
}

.pd-none{
    padding: 0px !important;
}

.mg-bt-80{
    margin-bottom: 80px !important;
}

.mg-bt-20{
    margin-bottom: 20px !important;
}

.mg-bt-40{
    margin-bottom: 40px !important;
}

.mg-bt-5{
    margin-bottom: 5px;
}

.mg-lf-5-{
    margin-left: -5px;
}

.mg-none{
    margin: 0px;
}

.pd-lt-30{
    padding-left: 30px !important;
}

.pd-tp-20{
    padding-top: 20px !important;
}

.pd-lt-10{
    padding-left: 10px !important;
}

.pd-bt-60{
    padding-bottom: 60px;
}

li{
    list-style: none;
}

/*Header*/
.navbar-brand{
    height: auto !important;
}

.navbar{
    margin-bottom: 0px !important;
}

.bg-topo{
    width:      100%;
    height:     auto;
    display:    table;
    position:   relative;
    background: #d7d9d8;
}

.bg-topo img{
    max-width:  100%;
    margin-top: 1px;
    display:    table;
    margin:     auto;
}

.topo-contato{
    width:      100%;
    max-width:  1072px;
    height:     auto;
    display:    table;
    position:   relative;
    margin:     auto;
}    

.atende-topo{
    color:        #d60308;
    font-family:  'gotham-medium';
    font-size:    0.9em;
    float:        left;
    padding-left: 7px;
}

.tel-topo{
    text-decoration:none;
    color:          #4d4d4d;    
    font-size:      1.4em;
    font-family:    'gotham-medium';
    margin-top:     -10px;
    float:          left;
}

.bloco-tel-topo{
    border-right:   1px solid #d60308;
    padding-right:  30px !important;
    padding-left:   30px !important;
    margin-top:     25px;
}

.email-topo{
    color:          #4d4d4d;  
    font-size:      0.9em;
    font-family:    'gotham-medium';
    margin-top:     -5px;
    float:          left;
}

.fb-like{
    width:      58px !important;
    overflow:   hidden !important;
}

.bloco-face-topo{
    padding:    20px 5px;
    border:     2px solid #d7d9d8;    
    margin-top: -14px;
    background: #fff;
}

.txt-face{
    color:          #385699;
    font-family:    'Calibri';
    font-weight:    bold;
    font-size:      1em;
}

.img-amplo-face{
    float:          left;
    margin-right:   15px;
}

.navbar-default{
    width:              100%;
    background-color:   #fff !important;
    border-color:       #cbcbcb;
}

.link-menu-topo{
    color:          #464646;
    font-size:      0.9em;
    font-family:    'gotham-medium';
    text-transform: uppercase;
    font-weight:    normal;
    padding-left:   10px !important;
    padding-right:  10px !important;
}

.busca-desk{
    background-color:   #ebeaeb !important;  
    border-radius:      0px !important;
    border-color:       transparent !important;
    border:             none !important;
    height:             31px !important;
    width:              170px !important;
}

.btn-buscar-desk{
    margin-left:        -5px;
    background-color:   #fff;
    padding:            0px !important;
}
    
.redes-sociais{
    margin-top: 10px !important;
    float:      left;
}

.lupa-mobile{
    float:          right;
    margin-right:   8px;
    margin-top:     8px;
    cursor:         pointer;
}

.bloco-busca-mobile{
    display: none;
} 

/*Vitrine*/
.bloco-desc-banner
{
    padding:    5px 70px;
    /*background: #000;
    opacity:    0.8;*/
    position:   absolute;
    max-width:  500px;
    top:        20px;
    z-index:    9999;
}

.vitrine-index
    {
    margin-bottom:  20px;
    max-width:      1070px;
    margin:         auto;
    display:        block;
}

.bloco-desc-banner h2
{
    font-size:      2.2em;
    color:          #464646;
    font-family:    'gotham-medium';
    text-transform: uppercase;
}

.bloco-desc-banner p
{
    font-size:      1.2em;
    color:          #464646;
    font-family:    'gotham-medium';
}

.owl-pagination{
    display: none;
}

.saiba-mais-vitrine{
    background:     #d60308;
    padding:        10px 30px;
    color:          #fff;
    font-weight:    normal;
    font-family:    'gotham-book';
    font-size:      1em;
    border-radius:  2px;
    margin-top:     20px;
    float: left;
}

.saiba-mais-vitrine:hover{
    color: #fff;
}

/* Baixo banner */
.baixo-banner{
    border-top:     1px solid #d2d2d2;
    border-bottom:  1px solid #d2d2d2;
    width:          100%;
    height:         auto;
    display:        table;
    position:       relative;
}

.encapsula-baixo-banner{
    max-width:      1070px;
    height: auto;
    margin:         auto;    
}

.encapsula-baixo-banner div{
    padding:        15px 0px;
    border-right:     1px solid #d2d2d2;
}

.encapsula-baixo-banner div:last-child{
    border: transparent;
}

.link-baixo-banner{
    color:              #707979;
    font-size:          1.1em;
    text-decoration:    none;
    padding:            10px 20px;
    font-family:        'gotham-medium';
}

.link-baixo-banner:hover{
    color:              #707979;
}

.link-baixo-banner h2{
    font-size:   1.1em;
    margin:      0px;
    padding-top: 5px;
}

/* Conteudo home */
.conteudo{
    width:      100%;
    max-width:  1070px;
    height:     auto;
    display:    table;
    position:   relative;
    margin:     auto;
}

.txt-prod-destaque
{
    color:          #464646;
    font-family:    'gotham-medium';
    font-size:      1.3em;   
    text-transform: uppercase;
    margin-bottom:  20px;
    float:          left;
    margin-top:     0px;
}

/* Vitrine roda destaques */
.vitrine-slides{
    width:      500px !important;
    overflow:   hidden;
    position:   relative;
}

.bloco-roda-vitrine{
    width:      3000px;
    height:     190px;
    overflow:   hidden;
}

.encapsula-produto-vitrine{
    width:  520px;
    float:  left;
}

.encapsula-produto-vitrine-projetos{
    width:  520px;
    float:  left;
}

.produto-vitrine-projetos{
    width:      173px;
    /*height:     170px;*/
    height:     190px;
    position:   relative;
    padding:    5px;
    float:      left;
}

.produto-vitrine{
    width:      173px;
    /*height:     170px;*/
    height:     190px;
    position:   relative;
    padding:    5px;
    float:      left;
}

.produto-vitrine img{
    max-width:  100%;
    max-height: 160px;
}

.produto-vitrine-projetos img{
    max-width:  100%;
    max-height: 160px;
}

.setas-produto-destaque{
    width:      60px;
    height:     auto;
    display:    table;
    margin:     auto;
    position:   relative;
    margin-top: 15px
}

.titulo-produto-destaque{
    color:              #707979;
    font-size:          0.9em;    
    text-decoration:    none;
    font-family:        'gotham-medium';
}
/* Vitrine roda destaques */

.destaques-home{
    margin-top: 60px !important;
}

.img-loja{
    max-width: 100%;
}

.txt-a-loja{
    color:          #464646;
    font-family:    'gotham-book';
    font-size:      1em;
}

.btn-default-padrao{
    color:              #fff;
    font-family:        'gotham-book';
    font-size:          0.85em;
    background-color:   #d60308;
    padding:            10px 25px;
    border-radius:      1px;
    -webkit-box-shadow: 0px 2px 7px 3px #cbcbcb;
    -moz-box-shadow:    0px 2px 7px 3px #cbcbcb;
    box-shadow:         0px 2px 7px 3px #cbcbcb;
    /*box-shadow:         4px 4px 5px -1px #cbcbcb;*/
    border:             none;
}

.btn-default-padrao:hover{
    color: #fff !important;
}

.form-horizontal label{
    padding:    4px;
    color:      #707979;
    font-size:  1em;
    font-family:'gotham-medium';
    font-weight: normal;
}

.form-home input{
    border-radius:      0px;
    border:             none;
    background-color:   #ebeaeb;    
}

.img-bandeiras{
    max-width: 100%;
}

.txt-conectado-mg{
    margin-top: 13px;
}

/* Footer */
footer{
    width:              100%;
    height:             auto;
    display:            table !important;
    position:           relative;
    background-color:   #d6d8d8;
}

.rodape{
    width:              100%;
    max-width:          1070px;
    height:             auto;
    display:            table;
    position:           relative;
    background-color:   #fff;
    margin:             auto;
    margin-top:         30px;
    padding:            30px 20px;
    -webkit-box-shadow: 4px 4px 5px -1px #cbcbcb;
    -moz-box-shadow:    4px 4px 5px -1px #cbcbcb;
    box-shadow:         4px 4px 5px -1px #cbcbcb;
}

.logo-rodape img{
    max-width:      180px;  
    margin-bottom:  20px;  
}

.link-rodape{
    color:      #4d4d4d;
    font-size:  0.85em;    
    font-family:'gotham-medium';
}

.linha-rodape{
    list-style: none;
    float:      left;
    padding:    1px 5px;
}

.titulo-verme{
    color:          #d60308;
    font-size:      1.3em;
    font-family:    'gotham-medium';
    padding:        2px 5px;
}

.icone-contato-rodape{
    float: left;
    margin-right: 7px;
}

.fique-conectado-f{
    color:          #4d4d4d;
    font-size:      1em;
    font-family:    'gotham-medium';
    float:          left;
    padding-top:    7px;
}

.link-redes-f{
    margin: 3px;
    float:  left;
}

.redes-footer{
    margin-left:    38%;
    margin-top:     20px;
}

.encapsula-redes-footer{
    border-top: 1px solid  #cbcbcb;
    margin-top: 40px;
}

.bloco-direitos{
    width:              100%;
    height:             auto;
    display:            table;
    position:           relative;
    background-color:   #fff;
    border-top:         1px solid #ebeaeb;
    border-bottom:      1px solid #ebeaeb;
}

.encapsula-bloco-direitos{
    max-width:  1070px;
    width:      100%;
    height:     auto;
    display:    table;
    margin:     auto;
    padding:    30px 50px 10px 50px;
}

.txt-direitos{
    color:      #4d4d4d;
    font-size:  0.85em;    
    font-family:'gotham-medium';
}

.link-topo-ativo{
    color: #d60308 !important;
}

/* Internas */
.bloco-conteudo-interna{
    width:          100%;
    height:         auto;
    display:        table;
    position:       relative;
    padding-top:    10px;
    padding-bottom: 120px;
}

.titulo-interna{
    color:          #d60308;
    font-size:      1.4em;    
    font-family:    'gotham-medium';   
    margin-top:     0px;
    text-transform: uppercase;
}

.sub-titulo-interna{
    color:       #464646;
    font-size:   1.3em;    
    font-family:'gotham-medium';   
    text-align:  left;
    margin-bottom: 5px;
}

.txt-interna{
    color:       #464646;
    font-size:   0.9em;    
    font-family:'gotham-book';   
    text-align:  left;
    text-decoration: none;
}

.txt-interna:hover{
    text-decoration:    none;
    color:              #464646;
}

.breadcrumb{
    background-color:   transparent !important;
    width:              100%;
    height:             auto;
    max-width:          1070px;
    display:            table;
    position:           relative;
    margin:             auto;
    margin-bottom:      0px;
}

.linha-breadcrumb{
    list-style:     none;
    float:          left;
    margin:         5px;
    color:          #727376;
    font-size:      0.9em;    
    font-family:    'gotham-book'; 
}

.linha-breadcrumb a{
    color:          #727376;
    font-size:      1em;    
    font-family:    'gotham-book'; 
    text-decoration: none;
}

.mapa-contato{
    width:          100%;
    max-width:      380px;
    min-height:     300px;
    margin-top:     20px;
}

.control-label{
    color:          #464646 !important;
    font-size:      0.95em !important;    
    font-family:    'gotham-medium' !important; 
}

.form-control{
    background-color:   #ebeaeb !important;
    border-radius:      2px !important;     
    border:             none !important;
}

.bloco-promocao{
    width:              100%;
    height:             auto;
    display:            table;
    position:           relative;
    background-color:   #f2f2f2;
    padding:            20px 0px;
}

.txt-apartir{
    color: #d60308;
    font-size:      0.85em;    
    font-family:    'gotham-medium'; 
    text-transform: uppercase;
}

.preco-promocao{
    color:          #d60308;
    font-size:      2.5em;
    font-family:    'gotham-medium';
    margin-top:     0px;
}


.menu-lateral{
    border-radius:      5px;
    border:             1px solid #d1d1d1;
    -webkit-box-shadow: 0px 0px 15px -1px #cbcbcb;
    -moz-box-shadow:    0px 0px 15px -1px #cbcbcb;
    box-shadow:         0px 0px 15px -1px #cbcbcb;
    padding:            10px 15px;
    min-width:          238px;
}

.menu-lateral a{
    color:          #464646;
    font-size:      1em;
    font-family:    'gotham-medium';
    text-transform: uppercase;
}

.menu-lateral .txt-interna:hover{
    color:          #d60308 !important;
}

.menu-lateral a:hover{
    color:          #d60308 !important;
}

.menu-lateral .txt-interna{
    color:          #464646;
    font-size:      1em;
    font-family:    'gotham-medium';
    text-transform: uppercase;
    padding:        5px 5px 5px 0px;
    border-bottom:  1px solid #ebeaeb;
    cursor:         pointer;
}

.subMenu-lateral{
    display: none;
    padding:        10px 0px 10px 0px;
}

.subMenu-lateral .txt-interna{
    padding:        5px 5px 5px 20px;
    border:         transparent;
}

.subMenu-lateral .txt-interna:last-child{
    /*border-bottom:  1px solid #ebeaeb;*/
}

.abre-sub-lateral img{
    padding: 5px 0px;
}

.menu-lateral .abre-sub-lateral:last-child{
    border-bottom: transparent !important;
}

.projeto-por{
    font-size:      0.9em;
    font-family:    'gotham-medium';
    color:          #d60308;
}

.menu-lat-ativo{
    color:          #d60308  !important;
}

.txt-ambiente{
    color:          #d60308  !important;
    padding-left:   0px !important;
}

.linha-img{
    width:      100%; 
    height:     1px; 
}

.ps-absolut{
    position:           absolute;
    background-color:   #fff;
    padding-right:      15px;
}

.bloco-img-tipos{
    max-width:      192px;
    padding:        10px !important;
    margin-bottom:  20px; 
}

.bloco-img-tipos h2{
    font-size:  1em;
    margin:     0px;
}

.img-produtos-tipos{
    max-width:      100%;
    padding-bottom: 5px;
}

.bloco-img-tipos .txt-interna{
    padding-bottom: 15px;
    padding-top:    5px;
    display:        block;
}

.lupa-produto{
    position:   absolute;
    bottom:     67px;
    right:      20px;
}

.lupa-produto-projetos{
    position:   absolute;
    bottom:     20px;
    right:      20px;
}

.bloco-img-projetos{
    max-width:      118px;
    max-height:     124px;
    padding:        10px !important;
    margin-bottom:  0px; 
}

.align-btn-projeto{
    margin-right:   10px;
}

.pd-bt-mob{
    padding-bottom: 20px !important;
}

.pd-lf-none{
    padding-left: 0px !important;
}

.carrega-lightBox-menor{
    width:      100%;
    height:     280px;
    max-height: 300px;
    display:    table;
    position:   relative;
    display:    none;
}

.carrega-lightBox-menor img{
    max-width: 100%;
}

.lightBox-menor{
    float:      left;
    padding:    0px 8px 16px 8px;
}

.carrega-busca{
    width:              280px;
    max-height:         200px;
    height:             auto;
    overflow:           auto;
    display:            block;
    position:           absolute;
    background-color:   #fff;
    display:            none;
    /*margin-top:         38px;*/
    z-index:            999;
    padding:            5px;
}

.carrega-busca .carrega-busca-ajax{
    display: block;
}

.carrega-busca-ajax{
    display: none;
}

.selectProduto:hover{
    color:  #d60308;
    cursor: pointer;
}

















/* LightBox */
.mtlsr-images-for-lightbox{
    margin:     0 auto;
    overflow:   hidden;
}

.mtlsr-images-for-lightbox ul li{
    display:            inline;
    background-color:   #fff;
}

.mtlsr-lightbox{            
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=1 ); /* IE6-8 */
}

.mtlsr-lightbox .image-in-lightbox{
    border-radius:5px
}

.close, .next, .prev{
    color:              #666;
    font-size:          30px;
    text-decoration:    none;
}

.next, .prev{
    color:      #aaa;
    font-size:  80px;
}

.close:hover, .next:hover, .prev:hover{color:#fff;}

.mtlsr-lightbox{
    display:    none;
    position:   fixed;
    width:      100%;
    height:     100%;
    z-index:    9999;
    top:        0;
    left:       0px;
}

.mtlsr-lightbox .image-in-lightbox{
    max-width:      80%;
    height:         auto;
    position:       absolute;
    z-index:        999;
    top:            10%; 
    margin-left:    auto;
    margin-right:   auto;
    left:           0;
    right:          0;
}

.close, .next, .prev{position:absolute;z-index:9999;}
.close{position:absolute;right:20px;top:20px;color: #fff !important;opacity: 2 !important;}
.next, .prev{top:50%}
.next{right:20px;}
.prev{left:20px;}

.projetos-lightbox{
    display:    table;
    width:      100%;
}

@media all and (min-width: 768px) {
    .navbar-default{
        width:              100%;
        max-width:          1072px;
        display:            table;
        margin:             auto;
        background-color:   #fff !important;
        border-color:       #cbcbcb;
        -webkit-box-shadow: -2px -3px 5px -1px #cbcbcb;
        -moz-box-shadow:    -2px -3px 5px -1px #cbcbcb;
        box-shadow:         -2px -3px 5px -1px #cbcbcb;
        margin-top:         20px;
        padding-top:        10px;
        padding-bottom:     5px;
    }

    .link-home{
        padding: 10px !important;
        border: solid 1px #eeeced;
    }

    .barra-separa-menu{
        color:          #464646;
        font-size:      0.9em;
        font-family:    'gotham-medium';
        padding: 15px 0px;
        float: left;
    }

    .linha-lado-destaques{
        width:          100%;
        height:         1px;
        background:     #d2d2d2;
        margin-top:     13px;
        display:        table;
    }
    
    .bloco-dev{
        width:      190px;
        height:     auto;
        display:    table;
        float:      right;
    }

    .mg-lf-10-{
        margin-left: -10px;
    }

    .pd-lt-5{
        padding-left: 5px !important;
    }
}

@media all and (max-width: 767px) {
    body{
        min-width: 336px;
    }

    .navbar-brand>img{
        max-width: 180px;
    }
    
    .mg-menu-busca{
        margin-top: 20px !important;
    }
    
    .form-group-mob{
        display: table;
        margin:  auto;
    }

    .busca-mob{
        background-color:   #fff !important;  
        border-radius:      0px !important;
        border-color:       transparent !important;
        border:             none !important;
        height:             31px !important;
        width:              300px !important;
    }

    .navbar-default{
        position:           fixed !important;
        z-index:            99;
        min-width:          336px;
        background-color:   #ebeaeb !important;   
    }

    .vitrine-index{
        display: none !important;
    }

    .encapsula-baixo-banner div {
        padding:        15px 0px;
        width:          250px;
        display:        table;
        margin:         auto;
        float:          none;
        border-bottom:  1px solid #d2d2d2;
        border-right:   transparent;
    }

    /* Vitrine roda destaques */
    .vitrine-slides {
        width:      178px !important;
        margin:     auto;
    }
    /* Vitrine roda destaques */

    .mg-top-mobile{
        margin-top: 108px;
    }

    .bloco-vitrine-destaques{
        margin-bottom: 40px;
    }

    .mg-auto-empresa{
        max-width:  250px;
        display:    table;
        margin:     auto;
        float:      none !important;
    }

    .bloco-rodape-ind{
        width:          240px !important;
        height:         auto;
        float:          none !important;
        display:        table;
        position:       relative;
        margin:         auto;
        margin-bottom:  30px;
    }

    .txt-direitos{
        text-align: center;
    }

    .bloco-dev{
        width:      200px;
        height:     auto;
        display:    table;
        margin:     auto;
    }

    .redes-footer {
        margin-left: 20%;
    }

    .breadcrumb{
        margin-top: 110px;
    }

    .bloco-conteudo-interna{
        padding-top: 30px;
    }

    .bloco-img-tipos {
        display:    table;
        margin:     auto;
        float:      none !important;
    }

    .linha-img{
        display: none;
    }

    .bloco-projetos-mobile{
        width:      310px;
        display:    table;
        float:      none !important;
        margin:     auto;
        padding:    0px !important;
    }   

    .form-horizontal label{
        padding-left: 15px;
    }

    .pd-lf-30-mob{
        padding-left: 30px !important;
    }

    .btn-default-padrao{
        display:    table;
        margin:     auto;
    }

    .bloco-conectado{
        display:    table;
        margin:     auto;
        width:      50% !important;
        float:      none !important;
    }

    .bloco-encapsula-redes-f{
        display:    table;
        width:      65%;
        margin:     auto;
    }

}

@media all and (max-width: 976px) {
    .email-topo{
        font-size: 0.76em;
    }

    .tel-topo{
        font-size: 1em;
    }

    .bloco-tel-topo {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    /*Vitrine Destaques*/
    .encapsula-produto-vitrine-geral{
        width:  350px;
    }

    .vitrine-slides{
        width: 350px !important;
    }

    .produto-vitrine-geral{
        max-width: 110px !important;
    }

    .bloco-roda-vitrine{
        height: 120px;
    }

    .txt-prod-destaque{
        font-size: 1em;
    }
    
    .img-conectado{
        width: 30px;
    }
}